.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 28px;
    font-size: 32px;
  }
  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 32px;
    font-size: 44px;
  }
}
