:root {
  --main-font: 'Comfortaa', sans-serif;

  --primary-text-cl: #050504;
  --main-background-cl: #ece8e3;
  --secondary-background-cl: #fcfbee;
  --light-accent-cl: #88996d;
  --dark-accent-cl: #4c672f;
  --text-bg-cl: #d0d9c2;
  --white-text-cl: #f7fded;
  --border-cl: #b4bda9;
  --input-bg-cl: #e1e6dc;
  --input-text-cl: #949488;
  --input-text-cl: #949488;
  --card-bg-cl: rgba(195, 211, 180, 0.7);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
